@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toast-slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.animate-toast-slide-in {
  animation: toast-slide-in 0.4s cubic-bezier(0.4, 2, 0.6, 1) both;
}

@keyframes toast-slide-out {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
.animate-toast-slide-out {
  animation: toast-slide-out 0.9s cubic-bezier(0.4, 2, 0.6, 1) both;
}
